.login-page {
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .login-page {
    flex-direction: row;
  }
  .login-padrao {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 33%;
    overflow-y: hidden;
    height: 100%;
    display: flex;
    position: absolute;
    background-image: url("../assets/img/pattern_cut.png");
    background-repeat: repeat;
    background-size: 33svh auto;
  }
  .login-conteudo {
    margin-left: 33%;
    width: 60%;
  }
  .logo {
    justify-self: start;
    margin-bottom: 4%;
    margin-top: 6%;
  }
}

@media only screen and (max-width: 599px) {
  .login-page {
    flex-direction: column;
  }
  .logo {
    justify-self: center;
    margin-top: 12%;
    margin-bottom: 10%;
  }
  .login-botao {
    margin-top: 80%;
  }
}

.login-conteudo {
  padding: 0 60px;
}

.logo {
  display: flex;
  height: auto;
  width: calc(8rem + 8dvw);
}

a {
  color: #f6bebf;
}

.login-termos {
  break-after: avoid;
}

.login-botao {
  font: inherit;
  border-radius: 16px;
  border: 2px solid #f6bebf;
  min-width: 72px;
  min-height: 40px;
  justify-self: end;
  margin-left: 86%;
  color: #000;
  background: #f6bebf;
}

form {
  max-width: 660px;
}
